<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>For Best Insurance Comparisions</h1>
  </div>
</div>
<div class="form-inline">
<form action="/v1.0/quotation/qutation-desired" method="get">
Car Name <input id="brandName" name=brandName>
Car Model <input id="model" name="model">
<button type="submit">Search</button>
</form>
</div>

</body>
</html>
